Repository destructurama/attributed, pull requests merged in 2024-01, with the labels that each got.

#62 Update ReadMe to show the need for using statement
  README.md
Labels: documentation

#49 Add NotLoggedIfNull attribute
  README.md
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicy.cs
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicyOptions.cs
  src/Destructurama.Attributed/Attributed/IPropertyOptionalIgnoreAttribute.cs
  src/Destructurama.Attributed/Attributed/NotLoggedIfDefaultAttribute.cs
  src/Destructurama.Attributed/Attributed/NotLoggedIfNullAttribute.cs
  src/Destructurama.Attributed/LoggerConfigurationAttributedExtensions.cs
  test/Destructurama.Attributed.Tests/IgnoreNullPropertiesTests.cs
  test/Destructurama.Attributed.Tests/MaskedAttributeTests.cs
  test/Destructurama.Attributed.Tests/NotLoggedIfDefaultAttributeTests.cs
Labels: enhancement

#77 Update readme with badges + format
  README.md
Labels: documentation

#78 Add approval tests
  src/Destructurama.Attributed.Tests/Approval/ApiApprovalTests.cs
  src/Destructurama.Attributed.Tests/Approval/Destructurama.Attributed.approved.txt
  src/Destructurama.Attributed.Tests/Destructurama.Attributed.Tests.csproj
  src/Destructurama.Attributed.Tests/Support/DelegatingSink.cs
  src/Destructurama.Attributed.Tests/Support/Extensions.cs
Labels: tests

#83 Documentation changes
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicy.cs
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicyOptions.cs
  src/Destructurama.Attributed/Attributed/IPropertyDestructuringAttribute.cs
  src/Destructurama.Attributed/Attributed/IPropertyOptionalIgnoreAttribute.cs
  src/Destructurama.Attributed/Attributed/ITypeDestructuringAttribute.cs
  src/Destructurama.Attributed/Attributed/LogAsScalarAttribute.cs
  src/Destructurama.Attributed/Attributed/LogMaskedAttribute.cs
  src/Destructurama.Attributed/Attributed/LogReplacedAttribute.cs
  src/Destructurama.Attributed/Attributed/NotLoggedIfNullAttribute.cs
  src/Destructurama.Attributed/LoggerConfigurationAttributedExtensions.cs
Labels: documentation

#85 Add code coverage
  .github/workflows/test.yml
  README.md
  src/Destructurama.Attributed.Tests/Destructurama.Attributed.Tests.csproj
Labels: documentation, CI, tests

#86 Remove unreachable code
  src/Destructurama.Attributed/Util/CacheEntry.cs
Labels: enhancement

#87 LogAsScalarAttribute can be applied to structs
  src/Destructurama.Attributed.Tests/Approval/Destructurama.Attributed.approved.txt
  src/Destructurama.Attributed.Tests/AttributedDestructuringTests.cs
  src/Destructurama.Attributed/Attributed/LogAsScalarAttribute.cs
Labels: enhancement, tests

#90 Migrate tests to Shouldly
  src/Destructurama.Attributed.Tests/AttributedDestructuringTests.cs
  src/Destructurama.Attributed.Tests/IgnoreNullPropertiesTests.cs
  src/Destructurama.Attributed.Tests/LogWithNameAttributedTests.cs
  src/Destructurama.Attributed.Tests/MaskedAttributeTests.cs
  src/Destructurama.Attributed.Tests/NotLoggedIfDefaultAttributeTests.cs
  src/Destructurama.Attributed.Tests/ReplacedAttributeTests.cs
Labels: tests

#94 Add benchmarks
  src/Benchmarks/AttributedBenchmarks.cs
  src/Benchmarks/Program.cs
  src/Destructurama.Attributed/Destructurama.Attributed.csproj
Labels: performance

#98 Compile property accessor
  src/Destructurama.Attributed.Tests/AttributedDestructuringTests.cs
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicy.cs
Labels: performance, tests

#101 Unify tests
  README.md
  src/Destructurama.Attributed.Tests/AttributedDestructuringTests.cs
  src/Destructurama.Attributed.Tests/IgnoreNullPropertiesTests.cs
  src/Destructurama.Attributed.Tests/LogWithNameAttributeTests.cs
  src/Destructurama.Attributed.Tests/MaskedAttributeTests.cs
  src/Destructurama.Attributed.Tests/NotLoggedIfDefaultAttributeTests.cs
  src/Destructurama.Attributed.Tests/ReplacedAttributeTests.cs
  src/Destructurama.Attributed.Tests/Support/DelegatingSink.cs
Labels: tests

#102 Add test for set-only property
  src/Destructurama.Attributed.Tests/AttributedDestructuringTests.cs
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicy.cs
  src/Destructurama.Attributed/Util/GetablePropertyFinder.cs
Labels: tests

#105 Add test
  src/Destructurama.Attributed.Tests/AttributedDestructuringTests.cs
Labels: tests

#106 Refactor MaskedAttribute
  README.md
  src/Destructurama.Attributed.Tests/MaskedAttributeTests.cs
  src/Destructurama.Attributed/Attributed/LogMaskedAttribute.cs
Labels: documentation, tests
