Repository destructurama/attributed, pull requests merged in 2024-12, with the labels that each got.

#113 Add support for LogPropertyIgnoreAttribute
  .github/workflows/benchmarks.yml
  README.md
  src/Destructurama.Attributed.Tests/Approval/Destructurama.Attributed.approved.txt
  src/Destructurama.Attributed.Tests/AttributedDestructuringTests.cs
  src/Destructurama.Attributed.Tests/Destructurama.Attributed.Tests.csproj
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicy.cs
  src/Destructurama.Attributed/Attributed/AttributedDestructuringPolicyOptions.cs
  src/Destructurama.Attributed/Attributed/NotLoggedAttribute.cs
  src/Destructurama.Attributed/Attributed/NotLoggedIfDefaultAttribute.cs
Labels: documentation, tests

#126 LogMaskedAttribute to handle int,long and guid values
  README.md
  src/Destructurama.Attributed.Tests/MaskedAttributeTests.cs
  src/Destructurama.Attributed/Attributed/LogMaskedAttribute.cs
Labels: enhancement, tests

#127 Support string enumerables in LogReplacedAttribute
  README.md
  src/Destructurama.Attributed.Tests/ReplacedAttributeTests.cs
  src/Destructurama.Attributed/Attributed/LogReplacedAttribute.cs
Labels: enhancement, documentation, tests

#133 Migrate to .NET9
  .github/workflows/benchmarks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Benchmarks/Benchmarks.csproj
  src/Destructurama.Attributed.Tests/Destructurama.Attributed.Tests.csproj
Labels: CI

#141 LogMasked works for properties of any type
  README.md
  src/Destructurama.Attributed.Tests/MaskedAttributeTests.cs
  src/Destructurama.Attributed/Attributed/LogMaskedAttribute.cs
Labels: enhancement, documentation, tests
